<div class="modal fade" id="create-user-modal" tabindex="-1" aria-labelledby="create-user-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="create-user-modal-label">إضافة مستخدم</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/users" method="post" id="create-user-form">
          <div class="mb-3">
            <label for="username" class="col-form-label fs-4">إسم المستخدم:</label>
            <input type="text" class="form-control" id="username" name="username">
            <div class="text-danger mt-1" id="username-error" style="display: none;"></div>
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label fs-4">كلمة المرور:</label>
            <div class="position-relative">
              <input type="password" class="form-control" id="password" name="password"/>
              <i class="fa-solid fa-eye-slash position-absolute toggle-password"></i>
            </div>
            <div class="text-danger mt-1" id="password-error" style="display: none;"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success" id="create-user">إضافة</button>
      </div>
    </div>
  </div>
</div>