<div class="modal fade" id="create-bonus-modal" tabindex="-1" aria-labelledby="create-bonus-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="create-bonus-modal-label">إضافة حافز</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/bonus" method="post" id="create-bonus-form">
          <div class="mb-3">
            <label for="from" class="col-form-label fs-4">من:</label>
            <input type="number" class="form-control" id="from" name="from">
          </div>
          <div class="mb-3">
            <label for="to" class="col-form-label fs-4">ألى:</label>
            <input type="number" class="form-control" id="to" name="to">
          </div>
          <div class="mb-3">
            <label for="percentage" class="col-form-label fs-4">النسبة:</label>
            <input type="range" class="form-range" max="100" min="0" step="1" name="percentage" id="percentage">
            <div class="text-primary mt-1"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success" id="create-bonus">إضافة</button>
      </div>
    </div>
  </div>
</div>