<div dir="ltr" class="loader">
  <svg class="absolute" width="0" height="0">
    <defs>
      <linearGradient id="c" x1="0" y1="64" x2="0" y2="0" gradientUnits="userSpaceOnUse">
        <stop stop-color="#000217"></stop>
        <stop offset="1" stop-color="#5fd3ff"></stop>
        <animateTransform attributeName="gradientTransform" type="rotate"
          values="0 32 32;-270 32 32;-540 32 32;-810 32 32;-1080 32 32" dur="8s"
          keyTimes="0;0.125;0.25;0.375;0.5;0.625;0.75;0.875;1" repeatCount="indefinite"></animateTransform>
      </linearGradient>
    </defs>
  </svg>

  <!-- "S" -->
  <svg viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path pathLength="360" d="M22 3C14 3 7 9 7 18C7 24 11 26 17 29C21 31 23 32 23 37C23 41 20 45 15 45C9 45 5 41 5 35"
      class="dash gradient-b" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>

  <!-- "E" -->
  <svg viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path pathLength="360" d="M5 3H25V12H10V21H20V30H5V45H25" class="dash gradient-c" stroke-width="8"
      stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>

  <!-- "N" -->
  <svg viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path pathLength="360" d="M5 45V5L25 45V5" class="dash gradient-d" stroke-width="8" stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>

  <!-- "I" -->
  <svg viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path pathLength="360" d="M15 3V45" class="dash gradient-b" stroke-width="8" stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>

  <!-- "O" -->
  <svg viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path pathLength="360" d="M22 3C12 3 5 12 5 22C5 32 12 41 22 41C32 41 39 32 39 22C39 12 32 3 22 3Z"
      class="dash gradient-c" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>

  <!-- "R" -->
  <svg viewBox="0 0 44 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path pathLength="360" d="M5 45V3H20C27 3 30 7 30 12C30 17 26 20 20 20H5L30 45" class="dash gradient-d"
      stroke-width="8" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</div>