<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
    </caption>
    <thead><%- include('table-components/header') %></thead>
    <tbody>
      <%- include('table-components/filters') %>
      <%- include('table-components/data') %>
    </tbody>
  </table>
</div>