<header class="mb-3">
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="navbar-brand">لوحة التحكم</div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%if(type === 'main'){%>active<%}%>" aria-current="page" href="/dashboard">الرئيسية</a>
          </li>
          <%if(user.role === 'مدير'){%>
            <li class="nav-item">
              <a class="nav-link <%if(type === 'users'){%>active<%}%>" href="/users">المشرفين</a>
            </li>
          <%}%>
          <li class="nav-item">
            <a class="nav-link <%if(type === 'workers'){%>active<%}%>" href="/dashboard/workers">العمال</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%if(type === 'departments'){%>active<%}%>" href="/dashboard/departments">الأقسام</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%if(type === 'products'){%>active<%}%>" href="/dashboard/products">المنتجات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%if(type === 'bonus'){%>active<%}%>" href="/dashboard/bonus">الحوافز</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%if(type === 'production'){%>active<%}%>" href="/dashboard/production">الإنتاج</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">خروج</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
</header>