<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/bootstrap.rtl.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/dashboard.css" />
  <link rel="stylesheet" href="/styles/search-box.css" />
  <link rel="stylesheet" href="/styles/filter-form.css" />
  <link rel="stylesheet" href="/styles/users.css" />
  <title>
    <%=title%>
  </title>
</head>

<body>
  <%- include('navbar') %>
  <div class="container-xl">
    <%- include('filter-form') %>

    <%if (type === 'users' ) {%>
    <%- include('components/users') %>
    <%}%>
  </div>

  <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>
</html>