<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>خطأ</title>
  <link rel="stylesheet" href="/styles/error.css">
</head>

<body>
  <div class="error-container">
    <div class="error-icon">&#9888;</div> <!-- Warning Icon -->
    <h1>خطأ</h1>
    <p><%= message %></p>
    <a href="/">إذهب إلى الصفحة الرئيسية</a>
  </div>
</body>

</html>