<html dir="rtl" , lang="ar">

  <body style="font-family: Arial, sans-serif; color: #333; background: #c19e9e">
    <div style="max-width: 1000px; margin: 5rem auto; padding: 20px; border-radius: 8px;">
      <h2 style="color: #c11e1e; margin-bottom: 3rem; font-size: 3.5rem;">عطل فني</h2>
      <p style="font-size: 1rem; font-weight: bold;">
        <%= error %>
      </p>
      <p style="font-size: 2rem;">برجاء المحاولة في وقت لاحق</p>
      <p style="font-size: 2rem;">إذا استمر العطل برجاء التواصل مع المختص</p>
      <p style="font-size: 2rem;"><a href="/">محاولة مرة أخرى</a></p>
    </div>
  </body>

</html>