<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تسجيل دخول</title>
  <link href="/styles/bootstrap.rtl.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
  <div class="login-container">
    <h1>أهلا بعودتك</h1>
    <%if(alertType){%>
      <div class="alert alert-<%= alertType %>" role="alert">
        <%= (message)? message : "Unknown Error." %>
      </div>
    <%}%>
    <form action="/auth/login" method="POST">
      <input type="text" name="username" placeholder="إسم المستخدم" required>
      <input type="password" name="password" placeholder="كلمة المرور" required>
      <button type="submit">تسجيل دخول</button>
    </form>
  </div>

  <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>