<% const type='main' %>
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>الصفحة الرئيسية</title>
  <link rel="stylesheet" href="/styles/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/styles/all.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/main.css" />

</head>

<body>
  <%- include('components/header', {type ,user}) %>

  <div class="container">
    <section class="row">
      <h2>المشرفين</h2>
      <p>إدارة جميع عمليات المشرفين (للمديرين فقط).</p>
    </section>

    <section class="row">
      <h2>العمال</h2>
      <p>إدارة جميع عمليات العمال.</p>
    </section>

    <section class="row">
      <h2>الأقسام</h2>
      <p>إدارة جميع عمليات الأقسام.</p>
    </section>

    <section class="row">
      <h2>الحوافز</h2>     
      <p>إدارة جميع عمليات شرائح الحوافز.</p>
    </section>

    <section class="row">
      <h2>المنتجات</h2>
      <p>إدارة جميع عمليات المنتجات.</p>
    </section>

    <section class="row">
      <h2>الإنتاج</h2>
      <p>إدارة إنتاجية كل عامل مع حساب الراتب.</p>
    </section>
  </div>

</body>

</html>