<td>
  <%= (dataItem.product && dataItem.product.name) ? dataItem.product.name : 'لا يوجد' %>
</td>
<td>
  <%= (dataItem.department && dataItem.department.name) ? dataItem.department.name : 'لا يوجد' %>
</td>
<td>
  <%= dataItem.price %>
</td>