<div class="modal fade" id="create-product-modal" tabindex="-1" aria-labelledby="create-product-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="create-product-modal-label">إضافة منتج</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/products" method="post" id="create-product-form">
          <div class="mb-3">
            <label for="name" class="col-form-label fs-4">إسم المنتج:</label>
            <input type="text" class="form-control" id="name" name="name">
            <div class="text-danger mt-1" id="name-error" style="display: none;"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success" id="create-product">إضافة</button>
      </div>
    </div>
  </div>
</div>