.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 2em 1em;
  background-color: #5fd3ff;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
  margin: 4rem auto;
}

.form h1 {
  text-align: center;
  color: #000217;
  font-size: 2.5em;
  margin: 10px;
}

.form .error{
  color: rgb(219, 1, 1);
  text-align: center;
  font-size: 1.3em;
}

.form .field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 1em;
  border: none;
  outline: none;
  color: #5fd3ff;
  background-color: #000217;
  box-shadow: inset 2px 5px 10px #000217;
  position: relative;
}

.form .field .toggle-password {
  position: absolute;
  left: 4%;
  top: 38%;
  cursor: pointer;
}

.form .field .input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: #5fd3ff;
}

.form .field .input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #5fd3ff;
  font-size: 1.2em;
}

.form .field .input-field::placeholder {
  color: #4ac6ff;
}

.form .submit {
  display: block;
  width: 50%;
  padding: .7em;
  border-radius: 25px;
  margin: 2em auto 0;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #000217;
  color: #5fd3ff;
  cursor: pointer;
}

.form .submit:hover {
  transform: translateY(-3px);
}

.form .reset-password {
  cursor: pointer;
  text-align: center;
  color: #000217;
  text-decoration: none;
  font-size: large;
  margin-bottom: 30px;
}

.form .reset-password:hover {
  text-decoration: underline;
}