.pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-nav .pagination .page-item {
  display: inline-block;
  margin: 0 0.25rem;
}

.pagination-nav .pagination .page-item .page-link,
.pagination-nav .pagination .page-item span {
  color: #000217;
  background-color: #5fd3ff;
  border: none;
  transition: all 300ms ease-in-out;
}

.pagination-nav .pagination .page-item span {
  padding: 0 .5rem;
}

.pagination-nav .pagination .page-item.active .page-link,
.pagination-nav .pagination .page-item .page-link:hover {
  transform: translateY(-3px);
}

.pagination-nav .pagination .page-item.disabled .page-link {
  background-color: #4ac6ff;
}