<div class="mb-3">
  <label for="to<%= id %>" class="col-form-label fs-4">إلى:</label>
  <input type="number" class="form-control" name="to" id="to<%= id %>" placeholder="ما لا نهاية" value=<%= (value === Infinity) ? 0 : value %>>
</div>