<div class="mb-3">
  <label for="from<%= id %>" class="col-form-label fs-4">من:</label>
  <input type="number" class="form-control" name="from" id="from<%= id %>" value="<%= value %>" placeholder="0">
  <div class="text-danger mt-1" style="display: none;"></div>
</div>