<div class="mb-3">
  <label for="date<%= id %>" class="col-form-label fs-4">التاريخ:</label>
  <input type="date" class="form-control <%= classes %>" id="date<%= id %>" name="date" value="<%= value %>">
  <div class="text-danger text-danger-date mt-1" style="display: none;"></div>
</div>