<div class="mb-3">
  <label for="name<%= id %>" class="col-form-label fs-4">الإسم:</label>
  <input type="text" class="form-control" id="name<%= id %>" name="name" value="<%= value %>">
  <div class="text-danger mt-1" id="name-error<%= id %>" style="display: none;"></div>
</div>