<div class="mb-3">
  <label for="password<%= id %>" class="col-form-label fs-4 px-4">كلمة المرور:</label>
  <div class="position-relative">
    <input type="password" class="form-control px-4" id="password<%= id %>" name="password" />
    <i class="fa-solid fa-eye-slash position-absolute toggle-password"></i>
  </div>
  <div class="text-danger text-danger-password mt-1" style="display: none;"></div>
</div>