<div class="mb-3">
  <label for="percentage<% id %>" class="col-form-label fs-4">النسبة:</label>
  <input type="range" class="form-range" name="percentage" id="percentage<% id %>" value="<%= value %>">
  <div class="text-primary mt-1"></div>
</div>