<div class="mb-3">
  <label for="price<%= id %>" class="col-form-label fs-4">السعر:</label>
  <input type="number" class="form-control" id="price<%= id %>" name="price" value="<%= value %>">
  <div class="text-danger text-danger-price mt-1" style="display: none;"></div>
</div>