<div class="mb-3">
  <label for="quantit<%= id %>" class="col-form-label fs-4">كمية الإنتاج:</label>
  <input type="number" class="form-control" id="quantity<%= id %>" name="quantity" value="<%= value %>">
  <div class="text-danger text-danger-quantity mt-1" style="display: none;"></div>
</div>