<div class="mb-3">
  <label for="username<%= id %>" class="col-form-label fs-4">إسم المستخدم:</label>
  <input type="text" class="form-control" name="username" id="username<%= id %>" value="<%= value %>">
  <div class="text-danger text-danger-username mt-1" style="display: none;"></div>
</div>